body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.contact-form {
    flex: 1.5;
}

.contact-details {
    flex: 1;
    background-color: #f4f4f4;
    padding: 10px;
}

.contact-details p {
    margin: 8px 0;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
}

.sociallinks {
    margin-top: 10px;
}

.sociallinks img {
    width: 30px;
    margin: 0 10px;
}