@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #0066cc; /* Change to your chosen primary color */
    --secondary-color: #ff9900; /* Change to your chosen secondary color */
    --font-family: 'Your Selected Font', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 1fr auto; /* Create a two-column grid */
    align-items: center;
    padding: 10px;
}

.header-logo {
    display: flex; /* Create a horizontal layout for the logo and navigation bar */
    align-items: center;
}

.nav {
    display: flex; /* Create a horizontal layout for the navigation links */
    gap: 20px; /* Add spacing between the links */
}

/* Adjust the styles for the logo and navigation links as needed */
.logo img {
    max-width: 100%;
    height: auto;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
}


header, main, footer {
    max-width: 600px;
    margin: 0 auto;
}

h1, h2, p {
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

.sociallinks a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin-top: 1rem;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero article {
    position: absolute;
    bottom: 50px;
    left: 10px;
    margin: 10px;
    font-size: smaller;
    opacity: .8;
    text-align: justify;

}

.hero h1 {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #fff;
}

.hero article img {
    width: 155px;
    height: auto;
    float: top;
}

article {
    position: absolute;
    top: 30%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

article img {
    float: right;
    margin-left: 20px;
}

section h2 {
    margin-top: 30px;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    background-color: rgb(217, 133, 133);
    color: #f7f8f7;;
    padding: 20px 0;
}


.sociallinks {
    margin-top: 10px;
}

.sociallinks img {
    width: 30px;
    margin: 0 10px;
}

.adventures {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

figure {
    text-align: center;
    margin: 0 10px; /* Add spacing between images */
}

figure img {
    max-width: 150px;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {
    margin-top: 5px;
    font-size: smaller;
}
